# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Local RAG Data & Vector DB
uploads/*
!uploads/.gitkeep
chroma_db/*
!chroma_db/.gitkeep

# Environment variables
.env

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
